*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul {
    list-style: none;
}

body {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Lato', sans-serif;
    color: #505050;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-content {
    max-width: 970px;
    margin: 0 auto;
}

.header-top {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
}

.header-top-inner {
    border: 2px solid #ECB84C;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
}

.header-title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 200px;
    line-height: 227px;
    margin: auto;
}

.header-text {
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-bottom: -12px;
}

.header-text::after,
.header-text::before {
    content: "";
    border-top: 2px solid #ECB84C;
    width: 100%;
}

.header-text::after {
    margin-left: 30px;
}

.header-text::before {
    margin-right: 30px;
}

.menu {
    border-bottom: 1px solid rgba(208, 212, 216,.5);
}

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list-link {
    padding: 24px 10px 20px;
    color: #909090;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    margin: 0 6px;
    border-bottom: 4px solid transparent;
    transition: all .5s;
}

.menu-list-link:hover {
    color: #4E5665;
    border-bottom: 4px solid #ECB84C;
}

.reason {
    padding: 88px 0 0;
}

.reason-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    color: #4E5665;
    text-align: center;
    margin-bottom: 22px;
}

.reason-link {
    text-align: right;
}

.reason-link a {
    font-weight: 700;
    color: #ECB84C;
    margin-bottom: 36px;
}

.reason-statistics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 80px;
}

.reason-statistics-num {
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    color: #4E5665;
    margin-top: 32px;
}

.reason-statistics-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #909090;
}

.section-line {
    border-bottom: 1px solid rgba(208, 212, 216,.5);
}

.about {
    padding: 80px 0 0;
}

.about-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    color: #4E5665;
    text-align: center;
    margin-bottom: 13px;
}

.about-text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #505050;
    margin-bottom: 72px;
}

.about-item {
    margin-bottom: 100px;
    padding: 70px 0;
    background-repeat: no-repeat;
    background-position: right;
}

.about-box {
    padding: 33px 40px;
    background-color: white;
    max-width: 470px;
    position: relative;
}

.about-box::after,
.about-box::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
}

.about-box::before {
    border-top: 2px solid #ECB84C;
    border-left: 2px solid #ECB84C;;
    top: 19px;
    left: 19px;
}

.about-box::after {
    border-bottom: 2px solid #ECB84C;
    border-right: 2px solid #ECB84C;
    right: 19px;
    bottom: 19px;
}

.about-box-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 25px;
    color: #4E5665;
    margin-bottom: 20px;
}

.about-box-text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #505050;
}

.about-item:nth-child(even) {
    background-position: left;
}

.about-item:nth-child(even) .about-box {
    margin-left: auto;
}

.about-item:nth-child(even) .about-box::before {
    right: 19px;
    left: auto;
    border-right: 2px solid #ECB84C;
    border-left: none;
}


.about-item:nth-child(even) .about-box::after {
    left: 19px;
    border-right: none;
    border-left: 2px solid #ECB84C;
}

.photo {
    padding: 88px 0;
}

.photo-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    color: #4E5665;
    margin-bottom: 42px;
    text-align: center;
}

.photo-text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #505050;
    padding-bottom: 48px;
    margin-bottom: 56px;
    position: relative;
}

.photo-text::after {
    content: "";
    position: absolute;
    width: 270px;
    height: 1px;
    background-color:rgba(208, 212, 216,.5);
    bottom: 0;
    margin: 0 auto;
}

.photo-slider {
    max-width: 640px;
    margin: 0 auto;
}

.slick-arrow {
    border: none;
    width: 40px;
    height: 40px;
    background-color: #ECB84C;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 55;
}

.slick-prev {
    left: -20px;

}

.slick-next {
    right: -20px;
}

.footer {
    background: #F8F8F8;
    padding: 55px 0 32px;
}

.footer-items {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    width: 140px;
}

.footer-item-blog {
    width: 300px;
}

.footer-item-company {
    width: 300px;
    padding-left: 180px;
}

.footer-copy {
    padding-top: 40px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #505050;
}

.footer-item-title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #4E5665;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer-item-link {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #505050;
    margin-bottom: 8px;
}

.footer-item-social {
    padding-left: 28px;
    position: relative;
}

.footer-item-social::before {
    content: "";
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
}

.link-massage::before {
    background-image: url('../images/massage.svg');
    width: 17px;
    top: 1px;
}

.link-facebook::before {
    background-image: url('../images/facebook.svg');
}

.link-instagram::before {
    background-image: url('../images/instagram.svg');
}

.link-youtube::before {
    background-image: url('../images/youtube.svg');
}

.link-email::before {
    background-image: url('../images/email.svg');
    height: 13px;
    top: 2px;
   
}